
@using Microsoft.AspNetCore.Http
@using Microsoft.EntityFrameworkCore
@model IEnumerable<WebBanSua.Models.SanPham> 

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_ProductLayout.cshtml";
      var spBest =Model.Where(p => p.BestSeller == true);
      var suaTT = Model.Where(p => p.MaDm == 6);
}


<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/css/page-list.css" rel="stylesheet">
	<script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
</head>
<body>
     <div id="header" class="location-page" style="margin-bottom:20px;">
            <section class="c-breadcrumbs">
                <div class="container">
                    <span class="item"><a asp-action="Index" asp-controller="Home">Trang chủ</a></span>
                      <span class="item"> > Bơ - Pho Mát</span>
                </div>
              </section>
        </div>
<div class="container bootdey" style="margin-top:20px;">
    <div class="col-md-3">
        <section class="panel">
            <div class="panel-body">
                <input type="text" placeholder="Tìm Sản Phẩm" class="form-control" />
            </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Danh Mục Sản Phẩm
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    <li>
                        <a asp-action="SuaTT" asp-controller="SanPham"><i class="fa fa-angle-right"></i> <img src="~/img/category/ic-suatietrung.png" alt="" style="width:20px;"> Sữa Tươi Tuyệt Trùng</a>
                    </li>                   
                    <li>
                        <a asp-action="SuaChua" asp-controller="SanPham" ><i class="fa fa-angle-right"></i> <img src="~/img/category/ic-suachua.png" alt="" style="width:20px;"> Sữa Chua </a>
                    </li>
                    <li>
                        <a asp-action="BoPhomat" asp-controller="SanPham" class="active"><i class="fa fa-angle-right"></i> <img src="~/img/category/ic-phomat.png" alt="" style="width:20px;"> Bơ - Pho Mát</a>
                    </li>
                     <li>
                        <a href=""><i class="fa fa-angle-right"></i> <img src="~/img/category/ic-nuocgk.png" alt="" style="width:20px;"> Nước Giải Khát</a>
                    </li>
                     <li>
                        <a href=""><i class="fa fa-angle-right"></i> <img src="~/img/category/ic-kem.png" alt="" style="width:20px;"> Kem Các Loại</a>
                    </li>
                     <li>
                        <a href=""><i class="fa fa-angle-right"></i> <img src="~/img/category/ic-suahat.png" alt="" style="width:20px;"> Sữa Hạt Nguyên Chất</a>
                    </li>
                </ul>
            </div>
        </section>
       

        <section class="panel">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    @foreach (var item in spBest)
                   {
                        <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="@item.AnhSp" style="width:100px;"/>
                        </a>
                        <div class="media-body">
                           @if (Context.Session.GetString("MaKh") != null)
                                    {
                                        <a asp-action="Details" asp-route-id="@item.MaSp" class="p-head" style="text-decoration:none;">@item.TenSp</a>
                                    }
                                    else
                                    {
                                         <a asp-action="Login" asp-controller="Home" class="p-head" style="text-decoration:none;">@item.TenSp</a>
                                    }
                            <p>@item.GiaSp.ToString("#,##0") VNĐ</p>
                        </div>
                    </article>
                   }
                   
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-right">
                    <ul class="pagination pagination-sm pro-page-list">
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
        </section>

        <div class="row product-list">
            @foreach (var item in suaTT)
           {
                <div class="col-md-4" style="margin-top:30px;">
                <div class="card">
                <div class="card-img-product">
                    <img src="@item.AnhSp" alt="">
                </div>
                <div class="card-title">
                    @item.TenSp
                </div>
                <div class="card-price">
                    @item.GiaSp.ToString("#,##0") VNĐ
                </div>
                <div class="card-diseption">
                    <div class="card-size">
                        <h3>Size:</h3>
                        <span>250ml</span>
                        <span>350ml</span>
                        <span>500ml</span>
                    </div>
                    <div class="card-action">
                        @if (Context.Session.GetString("MaKh") != null)
                                    {
                        <button> <a asp-action="Details" asp-route-id="@item.MaSp" style="text-decoration:none; color:white">Mua Ngay</a></button>
                                        <button onclick="AddToCartList(@item.MaSp)">Thêm<i class='bx bxs-cart-add' ></i></button>
                                    }
                                    else
                                    {
                                        <button> <a asp-action="Login" asp-controller="Home" style="text-decoration:none; color:white">Mua Ngay</a></button>
                                    }
                    </div>
                </div>
            </div>
            </div>
           }          
        </div>
    </div>
</div>




<script type="text/javascript">

</script>
</body>

